* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  height: 100vh;
}

.wheel {
  height: 40vw;
  width: 40vw;
  max-height: 500px;
  max-width: 500px;
  border: 2px solid #000;
  border-radius: 50%;
  position: relative;
}

.line {
  background-color: #000;
  height: 2px;
  width: 50%;
  position: absolute;
  top: 50%;            
  left: 50%;
}

.line:nth-of-type(2) {
  transform-origin: top left;
  transform: rotate(45deg);
}